<div class="message-details">
  <div class="profile">
    <img src="<%= message.profile %>" alt="profile" />
  </div>
  <p><strong>From:</strong> <%= message.user %></p>
  <p><strong>Message:</strong> <%= message.text %></p>
  <p><strong>Time:</strong> <%= message.added %></p>
</div>
